<div id="home_jumbo" class="jumbotron row">
  <div class="container">
  <div id="insideHome" class="col-sm-4">
    <h1 class="display-3">Global Access!</h1>
    <p class="lead">Software de controle de acessos, sistema simples e compreensível.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <%= link_to 'Sign up now', "#", class: "btn btn-primary btn-large" %>
    </p>
  </div>
  </div>
</div>