// Place all the styles related to the categorys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  text-align: center;
}

.category-title{
  font-weigth: bold;
  font-size: 1.5em;
  text-align: center
}

.category-description{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.category-user{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}