//$navbar-default-bg: #0275D8;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: gray;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration:none;
}

#home_jumbo{
  background-image: asset-url("iphone-reverse-perspective-sized.jpg");
  background-size: cover;
  color : white; 
  height: 550px;
}

#insideHome{
  color: white !important;
}

footer{
  margin-top:45px;
  padding-top: 5px;
  border-top : 1pt solid #111;
  color : 777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

.description{
  margin-top: 0;
}

.badge{
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// .white{
//   color: white;
// }